<form #form="ngForm" autocomplete="off">
	<div class="modal-header border-0 py-2">
		<h5 class="modal-title" translate>{{title}}</h5>
		<i class="bi bi-x bi-lg fs-4 float-end ms-auto pointer" (click)="modal.close()"></i>
	</div>
	<div class="modal-body pt-0">
		<div class="form-group">
			<label for="file" translate>{{label}}</label>
			<div class="d-flex">
				<input type="text" class="form-control" id="file" name="file" readonly [ngModel]="file?.name" required />
				<button (click)="inputFile.click()" class="btn btn-primary ms-2" translate>Sfoglia</button>
				<input hidden #inputFile (change)="fileChange($event)" type="file" id="azienda-stage" name="azienda-stage" readonly />
			</div>
		</div>

		<div class="d-flex w-100 mt-4 justify-content-center">
			<button type="button" class="btn btn-outline-primary" (click)="modal.close()" translate>{{close}}</button>
			<button class="btn ms-3" [ngClass]="buttonClass" (click)="modal.close(file)" [disabled]="form.invalid" translate>{{button}}</button>
		</div>
	</div>
</form>
